// contact
.contact {
    padding-top: 140px;
    width: 790px;
    h1 {
        font-size: 40px;
        color: #141414;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 20px;
        // max-width: 700px;
    }
    &-text {
        color: $accent;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 35px;
    }
    &-block-content {
        margin-bottom: 30px;
    }
    &-block-left {
        color: $text_secondary;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-size: 20px;
            font-weight: 700;
        }
        p {
            font-weight: 400;
            max-width: 185px;
        }
        &-text {
            color: $accent;
            font-size: 20px;
            font-weight: 400;
        }
    }
    &-block-right {
        font-size: 20px;
        font-weight: 400;
        color: $text_secondary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            margin-left: 20px;
            color: #717171;
            text-decoration: revert;
            &:hover {
                color: #AF8F72;
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
    }
    &-map {
        padding-bottom: 200px;
        @include for-sm {
            padding-bottom: 0;
        }
    }
    @include for-sm {
        padding-top: 50px;
        width: 100%;
    }
}
.arrow-left-mob {
    @include for-lg {
        display: none;
    }
    @include for-xl {
        display: none;
    }
    @include for-sm {
        display: block;
    }
}