// current
.news  {
    padding-top: 90px;
    display: flex;
    // margin-bottom: 110px;
    &-left {
        width: 45%;
        &-block {
            width: 45%;
            // margin-right: 50px;
        }
    }
    &-right {
        width: 55%;
        padding: 50px;
        background: #F0EDE9;
        &-block {
            width: 50%;
        }
    }
    &-block {
        &-img {
            height: auto;
            min-height: 406px;
        }
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
        color: $text_secondary;
    }
    &-card {
        padding: 50px;
        background: #F0EDE9;
        min-height: 424px;
        height: auto;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    &-link {
        display: flex;
        justify-content: center;
        // margin-top: 90px;
        // margin-bottom: 90px;
    }
}