// MAIN
.main {
	flex: 1 0 auto;
	overflow: hidden;
    // padding-top: 80px;
}

// our-network
.our-network {
    padding-top: 140px;
    padding-bottom: 140px;
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}