// job-description
.job-description {
    padding-bottom: 95px;
    &-link {
        color: #af8f72;
        text-decoration: revert;
        &:hover {
            color: #af8f72;
        }
    }
    &-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}